{% extends 'ajax.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title text-center text-uppercase">{{ 'modal.title.lost_password'|trans }}</h4>
            <div class="card-body">
                {% form_theme form 'forms/user/_lost_password.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
