{% extends 'mails/_layout.html.twig' %}

{% block title %}Demande d'information{% endblock %}

{% block body %}
    <div style="margin-top: 20px">
        <p style="text-align: left;">
            {{ user }},<br/><br/>
            {{ 'Afin de réinitialiser votre mot de passe nous vous invitons à suivre le lien suivant :'|gtrans }}<br/>
            <a href="{{ path('define_new_password', {'token': user.tokenResetPassword}) }}">{{ 'Nouveau mot de passe'|gtrans }}</a>
        </p>
    </div>
{% endblock %}
