@import 'vars/vars';
@import "vars/custom-variables";
@import "parts/header";

.presentation {
  margin-top: 82px;
  background-color: #ECF0F1;
  img {
    max-height: 100px;
  }
  a {
    color: #212528;
  }
}
