{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin-top: 90px;">
        {{ form_start(form) }}

            <button type="submit">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
