@import "vars";

button.btn {
  @include roundBtn();
  background-color: $elegantColor;
  color: #fff;
  &:hover {
    background-color: transparent;
    color: $elegantColor;
    border: 1px solid $elegantColor;
  }
}
