<div class="modal fade" id="fullPageModal" tabindex="-1" role="dialog" aria-labelledby="fullPageModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-right w-100">
                    <i class="far fa-times-circle fa-2x hover-cursor" data-dismiss="modal" aria-label="close"></i>
                </div>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
